    body {background-color:whitesmoke;}
    h1 {color: black;text-align: center;}
    p { font-family: 'Times New Roman', Times, serif;
    text-align: center;}
    img{position:relative;left:27%;top:20%;}
